.container {
    width: fit-content;
    max-width: 1160;
    display: block;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}